streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
fpdf
xgboost
joblib
statsmodels
scipy
tensorflow==2.10.0
googletrans==4.0.0rc1 # Esta es la versión común para googletrans
streamlit-modal==0.0.9 # O la versión que estés usando